{% extends 'Condominio_main/base.html' %}
{% block title %}Fornitori{% endblock %}
{% block content %} 
<h1>Fornitori</h1>

{% comment  %} solo se sei un amministratore {% endcomment %}
<a class="btn btn-primary" href="/create_fornitore" role="button">Aggiungi un Fornitore</a>

{% comment %}Fornitori{% endcomment %}
<table class="table">
     <thead>
       <tr>
         <th scope="col">Nome</th>
         <th scope="col">Indirizzo</th>
         <th scope="col">Ragione Sociale</th>
         <th scope="col">P.iva</th>
         <th scope="col">Iban</th> 
         <th scope="col">Contratto</th>
       </tr>
     </thead>
     <tbody>
         {% for fornitore in fornitori %}
         <tr>
             <th scope="row">{{fornitore.nome}}</th>
             <td>{{fornitore.indirizzo}}</td>
             <td>{{fornitore.ragione_sociale}}</td>
             <td>{{fornitore.partita_iva}}</td>
             <td>{{fornitore.iban}}</td>
             <td>{{fornitore.contratto}}</td>
             <td>
                 {% if user == fornitore.author or perms.main.delete_fornitore %}
                 <form method="post">
                         {% csrf_token %}
                         <button type="submit" class="btn btn-danger" name="fornitore-id" value="{{fornitore.id}}">Elimina</button>
                 </form>
                 <form method="post">
                         {% csrf_token %}
                         <a href="{% url 'update_fornitore' fornitore.id %}" class="btn btn-secondary">Modifica</a>
                 </form>
                 {% endif %}
             </td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
 

{% endblock %}