{% extends 'Condominio_main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %} 
<h1>Home page del Condominio {{condominio.nome}}</h1>

{% load static %}


{% if user.is_staff %}
<div class="container text-center">
    <div class="row">
      <div class="col d-grid">
        {% comment %} INTERNI {% endcomment %}
        <a class="btn" href="{% url 'interni' %}" role="button">
            <div class="row text-center">
                <i class="bi bi-people-fill" style="font-size: 4rem; color: cornflowerblue;"></i>
             </div>
             <div class="row text-center">
                 <h2>Interni</h2>
             </div>     
        </a> 
      </div>
      <div class="col d-grid">
        {% comment %} fornitori {% endcomment %}
        <a class="btn" href="{% url 'fornitori' %}" role="button">
            <div class="row text-center">
                <i class="bi bi-truck" style="font-size: 4rem; color: cornflowerblue;"></i>
             </div>
             <div class="row text-center">
                 <h2>Fornitori</h2>
             </div>     
        </a> 
      </div>
      <div class="col d-grid">
        {% comment %} spese {% endcomment %}
        <a class="btn" href="{% url 'spesa' %}" role="button">
            <div class="row text-center">
                <i class="bi bi-wallet2" style="font-size: 4rem; color: cornflowerblue;"></i>
             </div>
             <div class="row text-center">
                 <h2>Spese</h2>
             </div>     
        </a> 
      </div>
    </div>
  </div>

{% else %}

{% endif %}
{% endblock %}