{% extends 'Condominio_main/base.html' %}
{% block title %}Interni{% endblock %}
{% block content %} 
<h1>Interni</h1>
<p>Qui puoi visionare gli utenti occupanti e il rispettivo interno</p>

{% comment  %} solo se sei un amministratore {% endcomment %}
<a class="btn btn-primary" href="/create_interno" role="button">Aggiungi un Interno</a>

{% comment %}Fornitori{% endcomment %}
<table class="table">
     <thead>
       <tr>
         <th scope="col">Numero</th>
         <th scope="col">Condomino</th>
         <th scope="col">Millesimi Generali</th>
         <th scope="col">Millesimi Edificio</th> 
         <th scope="col">Millesimi Scala</th>
         <th scope="col">Mappali</th>
         <th scope="col">In Affitto</th>
         <th scope="col">Edit</th>
       </tr>
     </thead>
     <tbody>
         {% for interno in interni %}
         <tr>
             <th scope="row">{{interno.numero_interno}}</th>
             <td>{{interno.condomino.last_name}}</td>
             <td>{{interno.millesimi_generali}}</td>
             <td>{{interno.millesimi_edificio}}</td>
             <td>{{interno.millesimi_scala}}</td>
             <td>{{interno.mappali}}</td>
             <td>{{interno.in_affitto}}</td>
             <td>
                 {% if user == interno.author or perms.main.delete_interno %}
                 <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'cancella_interno' pk=interno.pk %}" class="btn btn-danger">Cancella Interno</a>
                         {% comment %}
                         ELIMINA BUTTON SE SEGUO LE FBV
                         <button type="submit" class="btn btn-danger" name="interno-id" value="{{interno.id}}">Elimina</button>
                         {% endcomment %}
                 </form>
                 <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'edit_interno' pk=interno.pk %}" class="btn btn-link">Modifica</a>
                 </form>
                 
                 
                 {% endif %}
             </td>
         </tr>
         {% endfor %}
     </tbody>
 </table>
 

{% endblock %}