{% extends 'Condominio_main/base.html' %}
{% block title %}Riparto Preventivo{% endblock %}
{% block content %} 
<h1>Riparto Preventivo</h1>

{% comment %}Spese{% endcomment %}
<div class="overflow-x:auto">
<table class="table">
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Condomino</th>
        <th scope="col">Millesimi Generali</th>
        <th scope="col">Millesimi Edificio</th>
        <th scope="col">Millesimi Scala</th>

        <th scope="col">Manutenzione Ordinaria Scale</th>
        <th scope="col">Manutenzione Ordinaria</th>
        <th scope="col">Totale Utente</th>

        <th scope="col">Spese Generali</th>
        <th scope="col">Spese Straordinarie Palazzina</th>
        <th scope="col">Spese Straordinarie</th>
        <th scope="col">Totale Esercizio</th>
        
        <th scope="col">Saldo Esercizio Precedente</th> {% comment %} è il totale versato nel consuntivo anno passato {% endcomment %}
        <th scope="col">Totale Complessivo</th>
        {% for i in rate %}
        <th scope="col">Rata {{i}}</th>
        {% endfor %}
        <th scope="col">Totale</th>
      </tr>
    </thead>
    <tbody>
      {% for utente in view.get_numero_interno %} {% comment %} Per ogni condomino io devo mostrare la SOMMA delle spese % millesimi{% endcomment %}
      <tr>
          <th scope="row">{{utente.numero_interno}}</th>
          <td>{{utente.condomino.last_name}}</td>   
          <td>{{utente.millesimi_generali}}</td>            
          <td>{{utente.millesimi_edificio}}</td>            
          <td>{{utente.millesimi_scala}}</td>
          <td>{{utente.totale_spese_straordinarie_edifici}}</td>        

      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<h3>Scadenze delle Rate</h3>
<p>Rata del </p>
<p>Rata del </p>
<p>Rata del </p>

{% endblock %}