{% extends 'Condominio_main/base.html' %}
{% block title %}Riparto Consuntivo{% endblock %}
{% block content %} 
{% load mathfilters %}
<h1>Riparto Consuntivo</h1>

{% comment %}Spese{% endcomment %}
<div style="overflow-x:scroll">
<table class="table">
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Condomino</th>
        <th scope="col">Millesimi Generali</th>
        {% comment %} <th scope="col">Millesimi Edificio</th> {% endcomment %}
        <th scope="col">Millesimi Scala</th>

        <th scope="col">Spese Straordinarie Edificio</th>
        <th scope="col">Spese Straordinarie Scala</th>
        <th scope="col">Spese Straordinarie Antenne</th>
        <th scope="col">Spese Diverse</th>
        <th scope="col">Totale Esercizio</th>
        <th scope="col">Saldo Esercizio Precedente</th>
        <th scope="col">Totale Complessivo</th>
        <th scope="col">Versamenti {{anno_precedente}}</th>
        <th scope="col">Saldi di Esercizio</th>

        <th scope="col">Manutenzione Ordinaria Scala</th>
        <th scope="col">Manutenzione Ordinaria</th>
        <th scope="col">Manutenzione Ordinaria Aree Comuni</th>
        <th scope="col">Totale Occupante</th>
        <th scope="col">Spese Generali</th> 
        <th scope="col">Spese Straordinarie</th> 
      </tr>
    </thead>
    <tbody>
        {% for interno in interni %} {% comment %} Per ogni condomino io devo mostrare la SOMMA delle spese % millesimi{% endcomment %}
        <tr>
            <th scope="row">{{interno.numero_interno}}</th>
            <td scope="row">{{interno.condomino.last_name}}</td>
            <td scope="row">{{interno.millesimi_generali}}</td>
            {% comment %} <td scope="row">{{interno.millesimi_edificio}}</td> {% endcomment %}
            <td scope="row">{{interno.millesimi_scala}}</td>

            {% comment %} <td scope="row">{{totale_spese_straordinarie_edifici|div:1000|mul:interno.millesimi_edificio}}</td> {% endcomment %}
            <td scope="row">{{totale_spese_straordinarie_edifici|div:1000|mul:interno.millesimi_generali}}</td>
            <td scope="row">{{totale_spese_straordinarie_scale|div:1000|mul:interno.millesimi_scala}}</td>
            <td scope="row">{{totale_spese_straordinarie_antenne|div:1000|mul:interno.millesimi_generali}}</td>
            <td scope="row">{{totale_spese_diverse}}</td>

            <td scope="row">{{totale_esercizio}}</td>
            <td scope="row">{{saldo_esercizio_precedente}}</td>
            <td scope="row">{{totale_complessivo}}</td>
            <td scope="row">{{versamento_anno_trascorso}}</td>
            <td scope="row">{{saldi_esercizio}}</td>

            <td scope="row">{{totale_ordinarie_scale|div:1000|mul:interno.millesimi_scala}}</td>
            <td scope="row">{{totale_ordinarie|div:1000|mul:interno.millesimi_generali}}</td>
            {% comment %} <td scope="row">{{totale_ordinarie_comuni|div:1000|mul:interno.millesimi_edificio}}</td> {% endcomment %}
            <td scope="row">{{totale_ordinarie_comuni|div:1000|mul:interno.millesimi_generali}}</td> 
            <td scope="row">{{totale_utente_manutenzioni_ordinarie}}</td>
            {% comment %} <td scope="row">{{totale_generali|div:1000|mul:interno.millesimi_edificio}}</td> {% endcomment %}
            <td scope="row">{{totale_generali|div:1000|mul:interno.millesimi_generali}}</td>
            {% comment %} <td scope="row">{{totale_straordinarie|div:1000|mul:interno.millesimi_edificio}}</td> {% endcomment %}
            <td scope="row">{{totale_straordinarie|div:1000|mul:interno.millesimi_generali}}</td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}