{% extends 'Condominio_main/base.html' %}
{% block title %}Riparto Consuntivo{% endblock %}
{% block content %} 
{% load mathfilters %}
<h1>Riparto Consuntivo Anno {{anno_precedente|add:1}}</h1>

{% comment %}Spese{% endcomment %}
<div style="overflow-x:scroll">
<table class="table">
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Condomino</th>
        <th scope="col">Millesimi Generali</th>
        {% comment %} <th scope="col">Millesimi Edificio</th> {% endcomment %}
        <th scope="col">Millesimi Scala</th>

        <th scope="col">Spese Straordinarie Edificio</th>
        <th scope="col">Spese Straordinarie Scala</th>
        <th scope="col">Spese Straordinarie Antenne</th>
        <th scope="col">Spese Diverse</th>

        {% comment %} <th scope="col">Totale Esercizio</th>
        <th scope="col">Saldo Esercizio Precedente</th>
        <th scope="col">Totale Complessivo</th>
        <th scope="col">Versamenti {{anno_precedente}}</th>
        <th scope="col">Saldi di Esercizio</th> {% endcomment %}

        <th scope="col">Manutenzione Ordinaria Scala</th>
        <th scope="col">Manutenzione Ordinaria</th>
        <th scope="col">Manutenzione Ordinaria Aree Comuni</th>
        {% comment %} <th scope="col">Totale Occupante</th> {% endcomment %}
        <th scope="col">Spese Generali</th> 
        <th scope="col">Spese Straordinarie</th> 
      </tr>
    </thead>
    <tbody>
      {% comment %}elementi di una lista ci vuole il for{% endcomment %}
      {% for interno in interni %}
      <tr>
          <th scope="row">{{interno}}</th>
          
 
      </tr>
      {% endfor %}
    </tbody>
</table>

<h2>Riepilogo</h2>
<div style="overflow-x:scroll">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">N</th>
          <th scope="col">Condomino</th>
  
          <th scope="col">Totale Esercizio</th>
          <th scope="col">Saldo Esercizio Precedente</th>
          <th scope="col">Totale Complessivo</th>
          <th scope="col">Versamenti {{anno_precedente}}</th>
          <th scope="col">Saldi di Esercizio</th>

          {% comment %}il totale occupante è da inserire solo se c'è l'inquilino ma è uno step successivo e più complesso 
          <th scope="col">Totale Occupante</th>
          {% endcomment %}
 
        </tr>
      </thead>
      <tbody>
        {% for interno in interni %} {% comment %} Per ogni condomino io devo mostrare la SOMMA delle spese % millesimi{% endcomment %}
        <tr>
            <th scope="row">{{interno.numero_interno}}</th>
            <td scope="row">{{interno.condomino.last_name}}</td>
  
            <td scope="row">{{totale_esercizio}}</td>
            <td scope="row">{{saldo_esercizio_precedente}}</td>
            <td scope="row">{{totale_complessivo}}</td>
            <td scope="row">{{versamento_anno_trascorso}}</td>
            <td scope="row">{{saldi_esercizio}}</td>  
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}