{% extends 'Condominio_main/base.html' %}
{% block title %}Riparto Consuntivo{% endblock %}
{% block content %} 
<h1>Riparto Consuntivo</h1>

{% comment %}Spese{% endcomment %}
<div class="overflow-x:auto">
<table class="table">
    <thead>
      <tr>
        <th scope="col">N</th>
        <th scope="col">Condomino</th>
        <th scope="col">Millesimi Generali</th>
        <th scope="col">Millesimi Edificio</th>
        <th scope="col">Millesimi Scala</th>

        <th scope="col">Spese Straordinarie Edificio</th>
        <th scope="col">Spese Straordinarie Scale</th>
        <th scope="col">Spese Straordinarie Antenne</th>
        <th scope="col">Spese Diverse</th>
        <th scope="col">Totale Esercizio Precedente</th>
        <th scope="col">Saldo Esercizio Precedente</th>
        <th scope="col">Totale Complessivo</th>
        <th scope="col">Versamenti 2022</th>
        <th scope="col">Saldi di Esercizio</th>

        <th scope="col">Manutenzione Ordinaria Scala</th>
        <th scope="col">Manutenzione Ordinaria</th>
        <th scope="col">Manutenzione Ordinaria Aree Comuni</th>
        <th scope="col">Totale Occupante</th>
        <th scope="col">Spese Generali</th> {% comment %} è il totale versato nel consuntivo anno passato {% endcomment %}
        
      </tr>
    </thead>
    <tbody>
        {% for utente in view.get_numero_interno %} {% comment %} Per ogni condomino io devo mostrare la SOMMA delle spese % millesimi{% endcomment %}
        <tr>
            <th scope="row">{{utente.numero_interno}}</th>
            <td>{{utente.condomino.last_name}}</td>   
            <td>{{utente.millesimi_generali}}</td>            
            <td>{{utente.millesimi_edificio}}</td>            
            <td>{{utente.millesimi_scala}}</td>
            {% for spesa in object_list %}
            <td>{{utente.totale_spese_straordinarie_edifici}}</td>   
            {% endfor %}
                 

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}