{% extends 'Condominio_main/base.html' %}
{% block title %}Spese del Palazzo{% endblock %}
{% block content %} 
<h1>Spese del Palazzo</h1>

{% comment  %} solo se sei un amministratore {% endcomment %}
<a class="btn btn-primary" href="/create_spesa" role="button">Aggiungi una Spesa</a>

{% comment %}Spese{% endcomment %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Fornitore</th>
        <th scope="col">Tipologia</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Assegnatario</th> {% comment %} Deve poter essere un utente user di tipo non staff {% endcomment %}
        <th scope="col">Importo</th>
        <th scope="col">Modifica</th>

      </tr>
    </thead>
    <tbody>
        {% for spesa in spese %}
        <tr>
            <th scope="row">{{spesa.data}}</th>
            <td>{{spesa.fornitore}}</td>
            <td>{{spesa.tipologia}}</td>
            <td>{{spesa.descrizione}}</td>
            <td>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Vedi tutti
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for utente in spesa.assegnatario.all %}
                <li>{{utente}}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{spesa.importo}} €</td>
            <td>
                {% if user == spesa.author or perms.main.delete_spesa %}
                <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'cancella_spesa' pk=spesa.pk %}" class="btn btn-secondary">Cancella Spesa</a>
                        {% comment %}
                        ELIMINA CON FBV
                          <button type="submit" class="btn btn-danger" name="spesa-id" value="{{spesa.id}}">Elimina</button>
                        {% endcomment %}
                </form>
                <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'edit_spesa' pk=spesa.pk %}" class="btn btn-secondary">Modifica</a>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}